body {
  font-family: 'Spartan', sans-serif;
  margin: 10px;
}
h2 {
  margin-top: 30px;
}
#buttons button {
  margin: 10px 0;
  height: 35;
}
button[type="submit"] {
  background-color: rgb(141, 193, 199);
  border: none;
}
#clear {
  float: right;
}

#theme {
  display: block;
  margin: 10px;
  float: right;
  padding:5px;
  clear: both;
  font-size: 10px;
}
.container {
  overflow: hidden;
  display: block;
  clear: both;
}
.list-group {

margin-top: 20px;
}
label {
  padding-top: 5px;
}
.rainbow {
  background-image: url('https://i.pinimg.com/originals/57/33/bf/5733bfbe3c71e179eeb199f40c14795b.png');
  background-origin: content-box;
  background-size: 100% 60%;
}